<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<style>
    .card-title {
        padding: 2%;
        color: white;
        background-color: #3d9970;
        text-align: center;
        font-size: large;
    }

    select {
        display: block !important;
    }

    button {
        color: #fff;
        background-color: #3d9970;
        text-align: center;
        font-size: medium;
        padding: 8px;
        letter-spacing: .5px;
        border: none;
        border: none;
        border-radius: 2px;
        display: inline-block;
        height: 36px;
        line-height: 36px;
        padding: 0 16px;
        text-transform: uppercase;
        vertical-align: middle;
        -webkit-tap-highlight-color: transparent;
    }
    .btn{
        background-color: #3d9970!important; 
    }
    .forget{
        letter-spacing: 0.5px;
    float: right;
    cursor: pointer;
    font-size: 17px;
    color: #3bb6aa;
    }
</style>

<body style="background-color: black; padding-top: 5%;">
    <div class="main-wrapper">
        <div class="row">
            <div class="container">
                <div class="col-md-12 stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">Registration Form</h6>
                            <br>
                         
                                    <div class="container">
                                        <form class="cmxform" method="post" action="/signup" enctype="multipart/form-data">
                                            <div class="row">
                                                <div class="col-sm-12 col-lg-12 col-md-12">
                                                    <div class="form-group">
                                                        <input id="fname" class="form-control" name="username" type="text"
                                                        placeholder="Enter Username ">

                                                    </div>
                                                </div>
                                              
                                            </div>
                                            <div class="row">

                                                <div class="col-sm-6 col-lg-6 col-md-6">
                                                    <div class="form-group">
                                                        <input id="email" class="form-control" name="email" type="email"
                                                            placeholder="Enter Email">
                                                       
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input id="password" class="form-control" name="password"
                                                            type="password" placeholder="Enter Password">
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                               
                                                <div class="form-group">
                                                    <label for="image" class="col-md-6 control-label">Upload Image</label>
                                                    <br>
                                                    <div class="col-sm-12">
                                                        <input class="form-control" style="height: 70px;
                                                        padding: 20px;" type="file" name="profileImage">
                                                   
                                                    </div>
                                                </div> 
                                            </div>
                                            <div class="row">
                                            

                                            <input class="btn btn-primary" style="margin: 0% 0% 2% 40%;" type="submit"
                                                value="Submit">
                                                </div>
                                        </form>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</body>

</html>